node_modules/
.learning/
package-lock.json
!.opencode/
.opencode/*
!.opencode/opencode.jsonc
!.opencode/index.ts
!.opencode/cli.json
!.opencode/plugins/
!.opencode/plugins/subagent/
!.opencode/plugins/subagent/tui.ts
